<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="tablefilter/dist/tablefilter/tablefilter.js"></script>

  <script>

    $(document).ready(function () {


      // check if the element exists
      if ($('#resultTable').length > 0) {

        var filtersConfig = {
            base_path: 'tablefilter/',
            paging: {
              results_per_page: ['Records: ', [10, 25, 50, 100]]
            },
            state: {
              types: ['local_storage'],
              filters: true,
              page_number: true,
              page_length: true,
              sort: true
            },
            alternate_rows: true,
            btn_reset: true,
            rows_counter: true,
            loader: {
              html: '<div id="lblMsg"></div>',
              css_class: 'myLoader'
            },
            status_bar: {
              target_id: 'lblMsg',
              css_class: 'myStatus'
            },
            col_0: 'select',
            col_1: 'select',
            col_2: 'select',
            col_types: [
                'string', 'string', 'number',
                'number', 'number', 'number',
                'number', 'number', 'number'
            ],
            extensions:[{
                name: 'sort'
            }]
        };
        var tf = new TableFilter('resultTable', filtersConfig);


        tf.init();

      }
    });

  </script>

</header>

<main>
  <div class="">
    <h1>Browse LU data</h1>

    <div class="">
      <h2>[TEST FORM] Datahost LU API</h2>
      <form action="/" method="POST">

        <h3>Object</h3>
        <div class="form-group mb-3">
          <label>Pick an object</label>
          <select name="inputObject" class="form-control" >
            <option value="Event" <%= (inputObject=="Event" ? "selected" : "") %>>Events</option>
            <option value="Dataset" <%= (inputObject=="Dataset" ? "selected" : "") %>>Datasets</option>
            <option value="Occurrence" <%= (inputObject=="Occurrence" ? "selected" : "") %>>Occurrences</option>
          </select>
        </div>

        <h3>Taxon</h3>
        <div class="form-group mb-3">
          <label>Taxon ids (dyntaxa-id, values separated by ;)</label>
          <input type="text" class="form-control" placeholder="100062;102933" name="inputTaxon" value="<%= inputTaxon %>">
        </div>

        <h3>Area</h3>
        <div class="form-group mb-3">
          <label>Län</label>
          <select name="inputCounty" class="form-control" multiple="multiple">
              <% for (var i = 0; i < tableCounty.length; i++) { %>
                <option value="<%= tableCounty[i] %>"  <%= (inputCounty.includes(tableCounty[i]) ? "selected" : "") %>><%= tableCounty[i] %></option>
              <% } %>
          </select>
        </div>

        <h3>Dates</h3>
        <div class="form-group mb-3">
          <label>Start Date</label>
          <input type="date" class="form-control" placeholder="YYYY-MM-DD" name="inputStartDate" value="<%= inputStartDate %>">
        </div>
        <div class="form-group mb-3">
          <label>End Date</label>
          <input type="date" class="form-control" placeholder="YYYY-MM-DD" name="inputEndDate" value="<%= inputEndDate %>">
        </div>
        <div class="form-group mb-3">
          <label>Date filter</label>
          <select name="inputDatumType" class="form-control">
            <option value="OverlappingStartDateAndEndDate" <%= (inputDatumType=="OverlappingStartDateAndEndDate" ? "selected" : "") %>>OverlappingStartDateAndEndDate</option>
            <option value="BetweenStartDateAndEndDate" <%= (inputDatumType=="BetweenStartDateAndEndDate" ? "selected" : "") %>>BetweenStartDateAndEndDate</option>
          </select>
        </div>

        <div class="d-grid mt-3">

        <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <% if (isData) { %>
    <div class="divTable">
      <h1><%= tableData.length %> result(s)</h1>

      <table id="resultTable">
        <thead>
            <tr>
              <% for (var i = 0; i < tableColumns.length; i++) { %>
                <th><%= tableColumns[i] %></th>
              <% } %>
            </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < tableData.length; i++) { %>
            <tr>
              <% Object.keys(tableData[i]).forEach(function(key) { %>
               <td><%= tableData[i][key] %></td>
              <% }); %>    
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  <% } %>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
