<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/headerLU'); %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    #map { height: 360px; }
  </style>

  <script src="tablefilter/dist/tablefilter/tablefilter.js"></script>
  <script src="bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="bootstrap-datepicker/dist/css/bootstrap-datepicker.css">


  <!-- Add icon library -->
  <link href="@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="css/client.css">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
     integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
     crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

  <!-- LEAFLET draw -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

  <!-- end LEAFLET -->

  <!-- multiple select bootstrap -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->


  <!-- end multiple select bootstrap -->


  <script src="js/client.js"></script>


</header>


<body>

<main>

  <div class="container">

    <!--
    <div>
      <%= inputArea[0] %>
      <%= inputArea[1] %>
      <%= inputArea[2] %>
    </div>
    -->

    <div class="">
      <h1>Sök och ladda ner data</h1>

      <% if (errorMsg != "") { %>
      <div class="alert alert-danger" role="alert">
        <%= errorMsg %>
      </div>
      <% } %>


      <div class="">

        <p><i class="fa-regular fa-circle-info"></i> Här kan du ladda ner data som färdiga datapaket för respektive delprogram, eller genom att mata in specifika sökkriterier för ett urval av data.<br>
        Behöver du stora mängder data måste du använda dig av de färdiga datapaketen, alternativt göra flera utsök eftersom sökkapaciteten är begränsad.<br>
        Oavsett hur du väljer att hitta data så kan resultatet laddas ner som en kommaseparerad csv-fil eller en xlsx-fil.</p>


        <hr>
        <h2>Färdiga datapaket</h2>
        <p><i class="fa-regular fa-circle-info"></i> Här kan du ladda ner samtliga data som samlats in och finns tillgängliga i en hel datamängd. Du kan ladda ner ett (1) färdigt datapaket åt gången. Det gör du genom att klicka på en av länkarna till höger om namnet för den datamängd du är intresserad av. </p>
        <div class="form-group mb-3">
          <ul>
          <% for (var i = 0; i < availableDatasets.length; i++) { %>
            <li><a href="<%= availableDatasets[i]['downloadPath'] %>" target="_blank"><%= availableDatasets[i]['displayName'] %></a></li>
          <% } %>    
          </ul>      
        </div>

        <div class=" border-top border-dark mt-5 py-3">&nbsp</div>

        <form action="/#resultSection" method="POST" >

          <div class="form-group mb-3">
            <h2 title="Med hjälp av sökfunktionerna här nedan kan du göra ett eget urval av data. Gör du inget aktivt val för respektive sökfunktion baseras sökningen automatiskt på samtliga valmöjligheter. Observera att om du inte gör några val alls ger detta sannolikt ett resultat som är för stort för att överhuvudtaget sökas fram eller att laddas ner.">Gör ditt eget urval av data</h2>
            <p><i class="fa-regular fa-circle-info"></i> Med hjälp av sökfunktionerna här nedan kan du göra ett eget urval av data. Gör du inget aktivt val för respektive sökfunktion baseras sökningen automatiskt på samtliga valmöjligheter. Observera att om du inte gör några val alls ger detta sannolikt ett resultat som är för stort för att överhuvudtaget sökas fram eller att laddas ner.</p>
          </div>

          <hr>

          <div class="form-group mb-3">
            <h3 title="Här väljer du vilken typ av information du vill ha.
”Artobservationer” är det mest informationsrika utsnittet av data du kan få, från antal av arten du valt till metadata om delprogrammet som observationen gjorts i
”Inventeringstillfällen” ger information om vilka lokaler som inventerats, samt när de inventerats och av vem.
”Metadata” ger information om själva datamängden från delprogrammet.">Typ av information</h3>
            <p><i class="fa-regular fa-circle-info"></i> Här väljer du vilken typ av information du vill ha.<br>
            ”Artobservationer” är det mest informationsrika utsnittet av data du kan få, från antal av arten du valt till metadata om delprogrammet som observationen gjorts i
            ”Inventeringstillfällen” ger information om vilka lokaler som inventerats, samt när de inventerats och av vem.<br>
            ”Metadata” ger information om själva datamängden från delprogrammet.</p>

            <div class="custom-control custom-radio">
              <input type="radio" id="objRecord" name="inputObject" class="custom-control-input" value="Occurrence" <%= (inputObject=="Occurrence" ? "checked" : "") %>><label class="custom-control-label" for="objRecord">Artobservationer</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="objEvent" name="inputObject" class="custom-control-input" value="Event" <%= (inputObject=="Event" ? "checked" : "") %>><label class="custom-control-label" for="objEvent">Inventeringstillfällen</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="objDataset" name="inputObject" class="custom-control-input" value="Dataset" <%= (inputObject=="Dataset" ? "checked" : "") %>><label class="custom-control-label" for="objDataset">Delprogram/Metadata</label>
            </div>
          </div>



          <hr>

          <h3 title="blabla">Data från specifika delprogram</h3>
          <p><i class="fa-regular fa-circle-info"></i> Välj vilket eller vilka datamängder du vill ha data data från.</p>
          <div class="form-group mb-3">
            <div  class="form-clear-data" id="clearDatasets">
              <label><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>
            <label>
              <span class="all-none-button" id="selectAllDatasets"><i class="fa-regular fa-square-check"></i> Markera alla</span>
            </label>
            <% for (var i = 0; i < availableDatasets.length; i++) { %>
              <div class="form-check">
                <input class="form-check-input datasets-list-checkbox" type="checkbox" value="<%= availableDatasets[i]['datasetID'] %>" id="dataset<%= i %>" name="datasetCheckB" <% if (inputDatasetList.includes(availableDatasets[i]['datasetID'])) { %>checked<% } %> >
                <label class="form-check-label" for="dataset<%= i %>">
                  <%= availableDatasets[i]['displayName'] %>
                </label>
              </div>
            <% } %>
          </div>        

          <hr>

          <h3 title="Använd antingen kryssrutorna eller rullmenyn. Flera grupper respektive arter kan väljas.">Taxon</h3>
          <p><i class="fa-regular fa-circle-info"></i> Använd kryssrutorna och rullistan var för sig eller i kombination för att välja de organismer du är intresserad av. Flera grupper respektive arter kan väljas samtidigt.<br>
Grupper följer Dyntaxas regelrätta taxonomiska indelningar samt ett antal funktionella/traditionella grupper.</p>
          <div class="form-group mb-3">

            <div  class="form-clear-data" id="clearTaxon">
              <label><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonAll" value="taxonAll">
              <label class="form-check-label" for="radioTaxonAll">Alla</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonBirds" value="taxonBirds">
              <label class="form-check-label" for="radioTaxonBirds">Fåglar</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonMammals" value="taxonMammals">
              <label class="form-check-label" for="radioTaxonMammals">Däggdjur</label>
            </div>
            <!--
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonButterflies" value="taxonButterflies">
              <label class="form-check-label" for="radioTaxonButterflies">Fjärilar</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonAmphibians" value="taxonAmphibians">
              <label class="form-check-label" for="radioTaxonAmphibians">Groddjjur</label>
            </div>
            -->
          </div>

          <div class="form-group mb-3" id="divTaxonList">
            <select id="inputTaxon" name="inputTaxon" class="form-control selectpicker" multiple title="Välj ett eller flera..." data-live-search="true">

              <% Object.entries(tableTaxon).forEach(function([key, val]) { %>
                  <option value="<%= tableTaxon[key].id %>"  <%= (inputTaxon.includes(tableTaxon[key].id) ? "selected" : "") %>><%- tableTaxon[key].data %></option>
              <% }); %>    
            </select>

          </div>

          
          <hr>

          <h3 title="blabla">Tidsperiod </h3>

          <p><i class="fa-regular fa-circle-info"></i> blabla ?</p>

          <div class="form-group mb-3">
            <div  class="form-clear-data" id="clearDates">
              <label><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>

            <label>Från datum</label>
            <input class="datepicker form-control" placeholder="YYYY-MM-DD" name="inputStartDate" value="<%= inputStartDate %>">
            <!--
            <input type="date" data-date-format="DD MMMM YYYY" class="form-control" placeholder="YYYY-MM-DD" name="inputStartDate" value="<%= inputStartDate %>">-->

            <label>Till datum</label>
            <input class="datepicker form-control" placeholder="YYYY-MM-DD" name="inputEndDate" value="<%= inputEndDate %>">
            <!--
            <input type="date" class="form-control" placeholder="YYYY-MM-DD" name="inputEndDate" value="<%= inputEndDate %>">-->
            
          </div>
          <!--
          <div class="form-group mb-3">
            <label>Date filter</label>
            <select name="inputDateType" class="form-control">
              <option value="OverlappingStartDateAndEndDate" <%= (inputDateType=="OverlappingStartDateAndEndDate" ? "selected" : "") %>>OverlappingStartDateAndEndDate</option>
              <option value="BetweenStartDateAndEndDate" <%= (inputDateType=="BetweenStartDateAndEndDate" ? "selected" : "") %>>BetweenStartDateAndEndDate</option>
            </select>
          </div>
          -->


          <hr>

          <h3 title="Begränsa din sökning geografiskt genom att antingen välja län eller kommun i rullmenyerna, eller genom att markera ett område i kartan. Observera: framsökt data kommer inte att visas i kartan.">Geografiskt område </h3>

          <p><i class="fa-regular fa-circle-info"></i> Begränsa din sökning geografiskt genom att antingen välja län eller kommun i rullmenyerna, eller genom att markera ett område i kartan. Observera: framsökt data kommer inte att visas i kartan.</p>
          
          <div class="form-group mb-3">

            <div class="custom-control custom-radio">
              <input type="radio" name="radioGeography" class="form-check-input" value="lanmun" id="radioGeographyLanmun">
              <label class="form-check-label" for="radioModeGeographyLanmun">Län</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" name="radioGeography" class="form-check-input" value="karta" id="radioGeographyKarta">
              <label class="form-check-label" for="radioModeGeographyKarta  ">Karta</label>
            </div>
          </div>

          <div class="form-group mb-3" id="lanmunSection">

            <div  class="form-clear-data" id="clearCounties">
              <label><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>

            <label>Välj inget, ett eller flera län</label>
            <select id="inputCounty" name="inputCounty" class="form-control selectpicker"  multiple title="Välj ett eller flera..." data-live-search="true">
              <% for (var i = 0; i < tableCounty.length; i++) { %>
                <option value="<%= tableCounty[i] %>"  <%= (inputCounty.includes(tableCounty[i]) ? "selected" : "") %>><%= tableCounty[i] %></option>
              <% } %>
            </select>
          </div>


          <div class="form-group mb-3" id="mapSection">
            <label>Rita en polygon</label>
            <div id="map"></div>
            <div class="form-group mb-3">
              <input type="hidden" class="form-control" name="inputArea" id="inputArea" value="<%= inputArea %>" readOnly=false>
            </div>
          </div>
          <hr>

          <hr>

          <div id="resultSection">

            <% if (errorMsg != "") { %>
              <div class="alert alert-danger" role="alert">
                <%= errorMsg %>
              </div>
            <% } %>


            <input type="hidden" id="inputSourceSubmit" name="inputSourceSubmit" value="">
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">View in a table</button>
            </div>
            <!--
            <div class="d-grid mt-3">
              <button id="downloadButton" class="btn btn-danger">Generate CSV (OLD)</button>
            </div>
          -->
            <div class="d-grid mt-3">
              <button id="buttonExportCsv" class="btn btn-primary">Generate CSV</button>
            </div>
            <div class="d-grid mt-3">
              <button id="buttonExportXlsx" class="btn btn-primary">Generate XLSX</button>
            </div>
          </div>
        </form>
      </div>
    </div>

          <hr>

    <% if (locals.downloadFile && downloadFile != "") { %>
      <div id="downloadSection">
        <a href="<%- downloadFile %>" class="btn"><i class="fa fa-download"></i> Download</a>
      </div>
    <% } %>
    <br>

    <% if (isDataTable) { %>
      <div class="divTable">
        
        <% if (totalResults == 0 ) { %>

          <p>Det finns inga data som matchar ditt urval.</p>

        <% } else { %>

          <h3 title="Här visas bara ett urval av fält från databasen, men i nedladdade filer ingår alla fält som det finns data för.">Resultat och nedladdning <i class="fa-regular fa-circle-info"></i></h3>

          <% if (totalResults != tableData.length ) { %>
          <h3>Ditt urval ger <%- totalResults %> rad(er) men tabellvyn är begränsad till <%= maxResults %> rader.</h3>
          <% } else { %>
          <h3>Ditt urval ger <%= tableData.length %> rad(er).</h3>
          <% }  %>
          <table id="resultTable">
            <thead>
                <tr>
                  <% for (var i = 0; i < tableColumns.length; i++) { %>
                    <th><%= tableColumns[i] %></th>
                  <% } %>
                </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < tableData.length; i++) { %>
                <tr>
                  <% Object.keys(tableData[i]).forEach(function(key) { %>
                   <td><%= tableData[i][key] %></td>
                  <% }); %>    
                </tr>
              <% } %>
            </tbody>
          </table>
        <% }  %>

      </div>
    <% } %>

  </div> <!-- end container -->
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
