<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>



  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.biodiversitydata.se/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '7']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->




</head>

<header>
  <%- include('../partials/headerLU'); %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="tablefilter/dist/tablefilter/tablefilter.js"></script>
  <script src="bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <link rel="stylesheet" href="bootstrap-datepicker/dist/css/bootstrap-datepicker.css">


  <!-- Add icon library -->
  <link href="@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="css/client.css">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
     integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
     crossorigin=""/> 
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

  <!-- LEAFLET draw -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

  <!-- end LEAFLET -->

  <!-- multiple select bootstrap -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->


  <!-- end multiple select bootstrap -->


  <script src="js/client.js"></script>

  <!-- for lyssna button 
    <script src="https://www.browsealoud.com/plus/scripts/3.0.0/ba.js" integrity="sha384-5uYwE7GxHJ+Eoq2GCdQye4vpoyvBSZWex5Jn3yZ+EtfP1WujIWpofHeIsGdmZW77" crossorigin="anonymous"></script>
  -->
</header>


<body>

<main>

  <div class="container">

    <!--
    <div>
      <%= inputArea[0] %>
      <%= inputArea[1] %>
      <%= inputArea[2] %>
    </div>
    -->

    <div class="">
      <h1>Sök och ladda ner data</h1>

      <% if (errorMsg != "") { %>
      <div class="alert alert-danger" role="alert">
        <%= errorMsg %>
      </div>
      <% } %>


      <div class="">

        <p class="helpText">Här kan du ladda ner data som färdiga datapaket för respektive delprogram, eller genom att mata in specifika sökkriterier för ett urval av data.<br>
        Behöver du stora mängder data måste du använda dig av de färdiga datapaketen, alternativt göra flera utsök eftersom sökkapaciteten är begränsad.</p>

        <hr>

        <h2>Färdiga datapaket <i class="fa-regular fa-circle-info fa-2xs" id="helpReadyPackagesButton"></i></h2>

        <p class="helpTextHidden" id="helpReadyPackages">Här kan du ladda ner samtliga data som samlats in och finns tillgängliga i en hel datamängd. Du kan ladda ner ett (1) färdigt datapaket åt gången. Det gör du genom att klicka på en av länkarna till höger om namnet för den datamängd du är intresserad av. </p>
        <div class="form-group mb-3">
          <table  class="table" id="listAvailableDatasets">
          <% Object.entries(availableDatasets).forEach(function([key, val]) { %>
            <tr>
              <td><%= val['displayName'] %></td>
              <td><a href="<%= val['downloadPathCsv'] %>" target="_blank"><i class="fa fa-download"></i> csv (<%= val['archiveSizeCsv'] %>)</a></td>
              <td><a href="<%= val['downloadPathXls'] %>" target="_blank"><i class="fa fa-download"></i> xlsx (<%= val['archiveSizeXlsx'] %>)</a></td>
            </tr>
          <% }); %>    
          </table>    
        </div>

        <hr class="border-dark">

        <form action="#resultSection" method="POST" id="mainform" >

          <div class="form-group mb-3">
            <h2 title="Med hjälp av sökfunktionerna här nedan kan du göra ett eget urval av data. Gör du inget aktivt val för en sökfunktion baseras sökningen automatiskt på samtliga valmöjligheter. Observera att du måste göra ett val i åtminstone en av sökfunktionerna.">Gör ditt eget urval av data</h2>
            <p class="helpText">Med hjälp av sökfunktionerna här nedan kan du göra ett eget urval av data. Gör du inget aktivt val för en sökfunktion baseras sökningen automatiskt på samtliga valmöjligheter. Observera att du måste göra ett val i åtminstone en av sökfunktionerna Delprogram, Taxon, Tidsperiod eller Geografiskt område.</p>
          </div>

          <hr>

          <div class="form-group mb-3">
            <h3 title="Här väljer du vilken typ av information du vill ha.
”Artobservationer” är det mest informationsrika utsnittet av data du kan få: från antal av arten du valt till metadata om datamängden som observationen tillhör.
”Inventeringstillfällen” ger information om vilka lokaler som inventerats, när de inventerats, och av vem, samt metadata om datamängden som inventeringstillfället tillhör.
”Metadata” ger information om själva datamängden från delprogrammet.">Typ av information <i class="fa-regular fa-circle-info fa-xs" id="helpTypeInfoButton"></i></h3>
            <p class="helpTextHidden" id="helpTypeInfo">Här väljer du vilken typ av information du vill ha.<br>
            ”Artobservationer” är det mest informationsrika utsnittet av data du kan få: från antal av arten du valt till metadata om datamängden som observationen tillhör.<br>
            ”Inventeringstillfällen” ger information om vilka lokaler som inventerats, när de inventerats, och av vem, samt metadata om datamängden som inventeringstillfället tillhör.<br>
            ”Metadata” ger information om själva datamängden från delprogrammet.</p>

            <div class="custom-control custom-radio">
              <input type="radio" id="objRecord" name="inputObject" class="form-check-input" value="Occurrence" <%= (inputObject=="Occurrence" ? "checked" : "") %>><label class="custom-control-label" for="objRecord">&nbsp;Artobservationer</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="objEvent" name="inputObject" class="form-check-input" value="Event" <%= (inputObject=="Event" ? "checked" : "") %>><label class="custom-control-label" for="objEvent">&nbsp;Inventeringstillfällen</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="objDataset" name="inputObject" class="form-check-input" value="Dataset" <%= (inputObject=="Dataset" ? "checked" : "") %>><label class="custom-control-label" for="objDataset">&nbsp;Metadata</label>
            </div>
          </div>



          <hr>

          <h3 title="Välj vilket eller vilka datamängder du vill ha data data från.">Delprogram <i class="fa-regular fa-circle-info fa-xs" id="helpDataProgramButton"></i></h3>
          <p class="helpTextHidden" id="helpDataProgram">Välj vilket eller vilka datamängder du vill ha data data från.</p>
          <p class="helpText">Vill du söka i alla datamängderna så behöver du inte göra något val.</p>
          <div class="form-group mb-3">
            <!--
            <label>
              <span class="all-none-button" id="selectAllDatasets"><i class="fa-regular fa-square-check"></i> Markera alla</span>
            </label>
          -->
            <% Object.entries(availableDatasets).forEach(function([key, val]) { %>
              <div class="form-check">
                <input class="form-check-input datasets-list-checkbox" type="checkbox" value="<%= val['datasetID'] %>" id="dataset<%= i %>" name="datasetCheckB" <% if (inputDatasetList.includes(val['datasetID'])) { %>checked<% } %> >
                <label class="form-check-label" for="dataset<%= i %>">
                  <%= val['displayName'] %>
                </label>
              </div>
            <% }); %>
            <div  class="form-clear-data">
              <label id="clearDatasets"><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>
          </div>        

          <hr>

          <h3 title=" Använd kryssrutorna och rullistan var för sig eller i kombination för att välja de organismer du är intresserad av. Flera grupper respektive arter kan väljas samtidigt.">Taxon <i class="fa-regular fa-circle-info fa-xs" id="helpTaxonButton"></i></h3>
          <p class="helpTextHidden" id="helpTaxon">Använd kryssrutorna och rullistan var för sig eller i kombination för att välja de organismer du är intresserad av. Flera grupper respektive arter kan väljas samtidigt.<br>
Grupper följer Dyntaxas regelrätta taxonomiska indelningar samt ett antal funktionella/traditionella grupper.</p>
          <p class="helpText">Vill du söka på alla organismgrupper och arter så behöver du inte göra något val.</p>


          <div class="form-group mb-3">

            <!--
            <label>
              <span class="all-none-button" id="selectAllTaxon"><i class="fa-regular fa-square-check"></i> Markera alla</span>
            </label>
          -->
            <div class="form-check">
              <input class="form-check-input taxonCheckbox" type="checkbox" value="3000188" id="taxonButterflies" name="taxonCheckbox" <%= (inputTaxon.includes(3000188) ? "checked" : "") %> >
              <label class="form-check-label" for="taxonButterflies">Fjärilar</label>
            </div>
            <div class="form-check">
              <input class="form-check-input taxonCheckbox" type="checkbox" value="4000104" id="taxonBirds" name="taxonCheckbox" <%= (inputTaxon.includes(4000104) ? "checked" : "") %> >
              <label class="form-check-label" for="taxonBirds">Fåglar</label>
            </div>
            <div class="form-check">
              <input class="form-check-input taxonCheckbox" type="checkbox" value="4000107" id="taxonMammals" name="taxonCheckbox" <%= (inputTaxon.includes(4000107) ? "checked" : "") %> >
              <label class="form-check-label" for="taxonMammals">Däggdjur</label>
            </div>

            <!--



            <div>
              <button type="button" class="btn  btn-outline-primary taxonListButtons" id="taxonAll">Alla</button>
              <button type="button" class="btn  btn-outline-primary taxonListButtons" id="taxonBirds">Fåglar</button>
              <button type="button" class="btn  btn-outline-primary taxonListButtons" id="taxonMammals">Däggdjur</button>
            </div>


            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonAll" value="taxonAll">
              <label class="form-check-label" for="radioTaxonAll">Alla</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonBirds" value="taxonBirds">
              <label class="form-check-label" for="radioTaxonBirds">Fåglar</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonMammals" value="taxonMammals">
              <label class="form-check-label" for="radioTaxonMammals">Däggdjur</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonButterflies" value="taxonButterflies">
              <label class="form-check-label" for="radioTaxonButterflies">Fjärilar</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioTaxon" id="radioTaxonAmphibians" value="taxonAmphibians">
              <label class="form-check-label" for="radioTaxonAmphibians">Groddjjur</label>
            </div>
            -->
          </div>


          <div class="form-group mb-3" id="divTaxonList">
            <select id="inputTaxon" name="inputTaxon" class="form-control selectpicker" multiple title="Välj en eller flera arter" data-live-search="true">

              <% Object.entries(tableTaxon).forEach(function([key, val]) { %>
                  <option value="<%= tableTaxon[key].id %>"  <%= (inputTaxon.includes(tableTaxon[key].id) ? "selected" : "") %>><%- tableTaxon[key].data %></option>
              <% }); %>    
            </select>

          </div>

          <div  class="form-clear-data">
            <label id="clearTaxon"><i class="fa-regular fa-trash"></i> Rensa val</label>
          </div>

          
          <hr>

          <h3 title="">Tidsperiod </h3>

          <p class="helpText">Vill du söka på hela tidsserien i databasen så behöver du inte göra något val.</p>
          <div class="form-group mb-3">

            <label>Från datum</label>
            <input class="datepicker form-control" placeholder="YYYY-MM-DD" name="inputStartDate" value="<%= inputStartDate %>">
            <!--
            <input type="date" data-date-format="DD MMMM YYYY" class="form-control" placeholder="YYYY-MM-DD" name="inputStartDate" value="<%= inputStartDate %>">-->

            <label>Till datum</label>
            <input class="datepicker form-control" placeholder="YYYY-MM-DD" name="inputEndDate" value="<%= inputEndDate %>">
            <!--
            <input type="date" class="form-control" placeholder="YYYY-MM-DD" name="inputEndDate" value="<%= inputEndDate %>">-->
            <br>
            <div  class="form-clear-data">
              <label id="clearDates"><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>            
          </div>
          <!--
          <div class="form-group mb-3">
            <label>Date filter</label>
            <select name="inputDateType" class="form-control">
              <option value="OverlappingStartDateAndEndDate" <%= (inputDateType=="OverlappingStartDateAndEndDate" ? "selected" : "") %>>OverlappingStartDateAndEndDate</option>
              <option value="BetweenStartDateAndEndDate" <%= (inputDateType=="BetweenStartDateAndEndDate" ? "selected" : "") %>>BetweenStartDateAndEndDate</option>
            </select>
          </div>
          -->


          <hr>

          <h3 title="Begränsa din sökning geografiskt genom att antingen välja län i rullistan, eller genom att markera ett område i kartan. Observera: framsökt data kommer inte att visas i kartan.">Geografiskt område <i class="fa-regular fa-circle-info fa-xs" id="helpGeographicButton"></i></h3>

          <p class="helpTextHidden" id="helpGeographic">Begränsa din sökning geografiskt genom att antingen välja län i rullistan, eller genom att markera ett område i kartan. Observera: framsökt data kommer inte att visas i kartan.</p>
          <p class="helpText">Vill du söka på hela Sverige så behöver du inte göra något val.</p>

          <div class="form-group mb-3">

            <div  class="form-clear-data">
              <label id="clearGeographic"><i class="fa-regular fa-trash"></i> Rensa val</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" name="radioGeography" class="form-check-input" value="lanmun" id="radioGeographyLanmun">
              <label class="custom-control-label" for="radioModeGeographyLanmun">Län</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" name="radioGeography" class="form-check-input" value="karta" id="radioGeographyKarta">
              <label class="custom-control-label" for="radioModeGeographyKarta  ">Karta</label>
            </div>
          </div>

          <div class="form-group mb-3" id="lanmunSection">


            <h4>Välj län</h4>
            <select id="inputCounty" name="inputCounty" class="form-control selectpicker"  multiple title="Välj ett eller flera län" data-live-search="true">
              <% for (var i = 0; i < tableCounty.length; i++) { %>
                <option value="<%= tableCounty[i] %>"  <%= (inputCounty.includes(tableCounty[i]) ? "selected" : "") %>><%= tableCounty[i] %></option>
              <% } %>
            </select>
          </div>


          <div class="form-group mb-3" id="mapSection">
            <h4>Rita en polygon</h4>
            <div id="map"></div>
            <div class="form-group mb-3">
              <input type="hidden" class="form-control" name="inputArea" id="inputArea" value="<%= inputArea %>" readOnly=false>
            </div>
          </div>
          <hr>

          <div id="resultSection">

            <% if (errorMsg != "") { %>
              <div class="alert alert-danger" role="alert">
                <%= errorMsg %>
              </div>
            <% } %>

            <input type="hidden" id="inputSourceSubmit" name="inputSourceSubmit" value="">
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Sök och visa resultat</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <hr>

    <% if (locals.downloadFile && downloadFile != "") { %>
      <div id="downloadSection">
        <a href="<%- downloadFile %>" class="btn" id="downloadFileLink"><i class="fa fa-download"></i> Ladda ner igen</a>
      </div>
    <% } %>

    <% if (isDataTable) { %>
      <div class="divTable">
        
        <% if (totalResults == 0 ) { %>

          <p>Det finns inga data som matchar ditt urval.</p>

        <% } else { %>

          <h3 title="Här visas bara ett urval av fält från databasen, men i nedladdade filer ingår alla fält som det finns data för.">Resultat och nedladdning</i></h3>

          <p class="helpText">Här visas bara ett urval av fält från databasen, men i nedladdade filer ingår alla fält som det finns data för.</p>

          <% if (totalResults != tableData.length ) { %>
          <h3>Ditt urval ger <%- totalResults %> rad(er) men tabellvyn är begränsad till <%= maxResults %> rader.</h3>
          <% } else { %>
          <h3>Ditt urval ger <%= tableData.length %> rad(er).</h3>
          <% }  %>
          <table id="resultTable">
            <thead>
                <tr>
                  <% for (var i = 0; i < tableColumns.length; i++) { 
                    if (tableColumns[i] != "taxonDetails" && tableColumns[i] != "siteDetails") { %>
                    <th><%= tableColumns[i] %></th>
                  <% }} %>
                </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < tableData.length; i++) { %>
                <tr>
                  <% Object.keys(tableData[i]).forEach(function(key) {  
                    if (key != "taxon" && key != "site") { 
                      // check if there is some sliced data
                      if (Array.isArray(tableData[i][key]) && "sliceddata" in tableData[i][key]) {%>
                        <td title="<%= tableData[i][key]['fulldata'] %>"><%= tableData[i][key]['sliceddata'] %><i class="fa-regular fa-circle-plus"></i></td>
                      <% } else { %>
                        <td><%= tableData[i][key] %></td>
                      <% }
                     }}); %>    
                </tr>
              <% } %>
            </tbody>
          </table>


          <!--<div class="d-grid mt-3">
            <button id="buttonExportCsv" class="btn btn-primary"><i class="fa fa-download"></i> Ladda ner CSV</button>
          </div>-->
          <div class="d-grid mt-3">
            <button id="buttonExportXlsx" class="btn btn-primary"><i class="fa fa-download"></i> Ladda ner XLSX</button>
          </div>

          <h3 title="Begränsningar i data">Begränsningar i data</h3>
          <p class="helpText">Data om arter som är placerade i Artdatabankens skyddsklass 3 eller högre är inte tillgängliga här.<br>
          I vissa inventeringsprogram är den exakta platsen för en lokal skyddad och anges då med diffuserade koordinater.</p>

          <h3 title="Villkor för användning">Villkor för användning</h3>
          <p class="helpText">Alla data som finns inom datavärdskapet och publiceras på denna webbplats är fria att vidareutnyttja enligt Creative Commons 0-licens. Användare av data får gärna (men måste inte) ange vem som samlat in data och att data hämtats från datavärdskapet.</p>

          <br>
        <% }  %>

      </div>
    <% } %>



    <div class=" border-top border-dark mt-5 py-3">
        Sidansvarig: <a href="mailto:mathieu.blanchet@biol.lu.se">mathieu.blanchet@biol.lu.se</a> &nbsp;|&nbsp; <strong>2025-03-25</strong>
    </div>

  </div> <!-- end container -->
</main>

</body>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</html>
